{% extends 'base.html' %}

{% block content %}
<nav>
     <ul>
         <li><a href="{% url 'books:home' %}">about</a></li>
         <li><a href="{% url 'books:login' %}">login</a></li>
         <li><a class="active" href="{% url 'books:index' %}">index</a></li>
         <li class="logo" style="float: left;" ><a href="home"></a><img src="./images/photos/log.png" alt="logo" width="40px" height="40px"></li>
     </ul>
     </nav>
<h1>Books</h1>
<div class="row">
    {% for book in books %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ book.image_url.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ book.book_title }}</h5>
                <p class="card-text">{{ book.author }} {{ book.edition }} {{ book.publication_date }} {{ book.subject_area }}</p>
                <a href="#" class="btn btn-primary">BORROW BOOK</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}