{% extends 'main_librarian.html'%}

{% block content%}

<div>
    <center>
        <h1>Add book </h1>
    <br/><br/>
    {%if submitted %}
        <div class="alert alert-primary" role="alert">
            Book was added succesfully!!! 
        </div>  
    {% else %}
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p}} 
        <button type="submit " class="btn btn-primary">Add</button>
        </form>
    {% endif %}

    </center>


</div>

{%  endblock content  %}