{% extends 'main_students.html' %}

{% block content %}

<div>
    <div>
        <centre>
            {% if searched %}
                <h1>
                You searched for {{ searched }}
                </h1>
                <br/>
                {% for book in books%}
                    <a href="{%url 'books:book_student' book.id %}">{{book}}</a>
                    <button class="btn btn-primary">borrow</button>
                    <br/>
                {% endfor %}
            {% else %}
                <h1>
                    Hey you forgot to search for a book..
                </h1>
            {% endif %}
        </centre>
                    
        
</div>

</div>

{% endblock content %}