{% extends 'main_librarian.html' %}

{% block content %}

<div>
    <div>
        <centre>
            {% if searched %}
                <h1>
                You searched for {{ searched }}
                </h1>
                <br/>
                {% for book in books%}
                    <a href="{%url 'books:book_librarian' book.id %}">{{book}}</a>
                    <a class="btn btn-primary" href="{% url 'books:update_book' book.id %}" role="button">Update</a>
                    <a class="btn btn-danger" href="{% url 'books:delete_book' book.id %}" role="button">Delete</a>
                    <br/>
                {% endfor %}
            {% else %}
                <h1>
                    Hey you forgot to search for a book..
                </h1>
            {% endif %}
        </centre>
                    
        
    </div>

</div>

{% endblock content %}