{% extends 'main_students.html' %}

{% block content %}
<a href="{%url 'My_payments'%}">Payments</a>
<a href="{%url 'My_books'%}">My Books</a>
<h1>Home page</h1>
<div>
    <div>
    
        <form class="d-flex" method="POST" action="{% url 'search_books' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search books" aria-label="Search" name="searched">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form> 

        <h1 class='list'>Catalog</h1>
       <div>
            {% for book in books %}
                <div>
                    <h5>{{book.id}} -- <a href="{% url 'book' book.id %}">{{book.title}}</h5></a>
                </div>

            {% endfor %}
       </div>

 
    </div>

</div>

{% endblock content %}