
{% extends 'main_librarian.html' %}

{% block content %}
<h1>Home page</h1>
<a href="{%url 'add_book'%}">add book</a>
<a href="{%url 'borrowed_books'%}">borrowed books</a>
<a href="{%url 'requested_books'%}">requested books</a>
<a href="/users/logout_user/">logout</a>

<div>
    <div>
    
        
        <form class="d-flex" method="POST" action="{% url 'search_books_librarian' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search books" aria-label="Search" name="searched">
             <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form> 
    
        <h1 class='list'>Catalog</h1>
        <div>
            {% for book in My_books %}
                <div>
                    <h5>{{book.id}} -- <a href="{% url 'book_librarian' book.id %}">{{book.title}}</h5></a>
                    <a href="{% url 'update_book' book.id %}">Update_book</a>
                    <a href="{% url 'delete_book' book.id %}">Delete_book</a>
                </div>
    
            {% endfor %}
        </div>    
    


 
    </div>

</div>

{% endblock content %}